.bmo-eyes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(40vw, 54vw, 66vw);
}

.bmo-eyes__svg {
  width: 100%;
  height: auto;
  display: block;
  transform-origin: center center;
}
